body{
    background-color: #ddd;
}
#container{
    width: 768px;
    margin: auto;
    /* border: 1px solid red; */
    background-color: azure;
    padding: 20px;
}

h1{
    font-size: 24px;
}
.img1{
    width: 50%;
}

.img:hover{
    transform: scale(1.5);
}